@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

// couleur //
$primary-color: #ff5a00;
$gray: #303030;
$SecondaryBg: #eceff4;
$bg: #e0e0e0;
$white: #ffffff;

//font//
$titre: "Kalam", cursive;
$text: "inter", sans-serif;