@use "../abstracts" as *;
@use "../modules/bouton";

.card_exp{
    width: 550px;
    height: 250px;
    border-radius: 20px;
    position: relative;

    h3{
        position: absolute;
        margin-left: 30px;
        margin-top: 15px;
    }

    .info_expertise {
        position: absolute;
        display: flex;
        align-items: center;
        font-family: $text;
        font-size: 14px;
        gap: 20px;
        width: 450px;
        margin-top: 70px;
        margin-left: 30px;
    }

    img{
        width: 100px;
        height: 100px;
        border-radius: 15px; 
    }

    .bouton_card_exp {
        position: absolute;
        bottom: 4%;
        right: 2%;
    }

    @include responsive(mobile){
        width: 100%;
        max-width: 320px;
	    height: 350px;
        padding-bottom: 70px;

        h3{
            margin-left: 20px;
            font-size: 24px;
        }

        .info_expertise {
            width: 85%;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            margin-left: 20px;
            margin-top: 60px;
        }
        
        .bouton_card_exp {
            bottom: 15px;
            right: 20px;
        }
    }
}

.box{
        box-shadow:
            -15px -15px 23px rgb(255, 255, 255),
            15px 15px 23px rgb(179, 179, 179);
    }