@use "../abstracts" as *;
@use "../modules/bouton";

.card_exp{
    width: 550px;
    height: 250px;
    border-radius: 20px;
    position: relative;

    h3{
        position: absolute;
        margin-left: 30px;
        margin-top: 15px;
    }

    .info_expertise {
        position: absolute;
        display: flex;
        align-items: center;
        font-family: $text;
        font-size: 14px;
        gap: 20px;
        width: 450px;
        margin-top: 70px;
        margin-left: 30px;
    }

    img{
        width: 100px;
        height: 100px;
        border-radius: 15px; 
    }

    .bouton_card_exp {
        position: absolute;
        bottom: 4%;
        right: 2%;
    }
}

.box{
        box-shadow:
            -15px -15px 23px rgb(255, 255, 255),
            15px 15px 23px rgb(179, 179, 179);
    }