@use "../abstracts" as *;
@use "../modules/bouton" as *;

.Avec_nous{
    @include card();
    width: 80%;
    margin: auto;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    margin: 200px auto;

    .Avec_nous_gauche{
        .desc_gauche{
            font-family: $text;
            font-size: 16px;
            width: 450px;
            margin-top: 10px;
        }
        .liste_check {
            margin-top: 120px;

            li {
                list-style: none;
                font-family: $text;
                font-size: 15px;
                margin-top: 5px;
            }

            .check{
                color: $primary-color;
            }
        }
        .boutons{
            margin-top: 50px;
        }
    }

    .Avec_nous_droit{
        img{
            width: 600px;
            border-radius: 15px; 
        }
    }

    @include responsive(tablet){
        flex-direction: column;

        .Avec_nous_droit{
            img{
                width: 100%;
                margin-top: 40px;
                border-radius: 15px;
            }
        }
    }

    @include responsive(mobile){
        width: 80%;
        padding: 20px;
        margin: 100px auto;

        .Avec_nous_gauche{
            .desc_gauche{
                width: 100%;
                font-size: 14px;
            }

            .liste_check{
                margin-top: 40px;

                li{
                    font-size: 13px;
                }
            }
        }

        .Avec_nous_droit{
            img{
                width: 100%;
                margin-top: 20px;
            }
        }
    }
}