@use "../abstracts" as *;
@use "../modules/bouton" as *;

header{
    background-color: $gray;
    position: relative;
    min-height: 100dvh;
    border-bottom-left-radius: 80px;

    .icone_header_ordi {
        position: absolute;
        right: 5%;
        top: 1%;

        .ordinateur_header{
            position: relative;
            width: 800px;
            height: 800px;

            .tache {
                position: absolute;
                width: 800px;
                height: 800px;
                z-index: 0;
                top: 0;
                right: 0;
            };

            .ordi {
                position: absolute;
                width: 550px;
                height: 550px;
                z-index: 1;
                top: 30px;
                left: 100px;
                margin-left: 0;
            };
        };
    };

    .titre_header{
        h1{
            @include titre_h1();
            position: relative;
            top: 100px;
            margin-left: 30px;
        };

        p{
            color: $primary-color;
            font-family: $text;
            position: relative;
            top: 95px;
            margin-left: 80px;
            font-size: 20px;
            font-weight: 100;
        };
    }

    .text_description {
        color: $SecondaryBg;
        font-family: $text;
        position: relative;
        top: 340px;
        width: 350px;
        margin-left: 60px;
        font-size: 25px;
        font-weight: 100;
    };

    .boutons{
        position: relative;
        top: 460px;
        margin-left: 60px; 
    };

    @include responsive(tablet){
        .icone_header_ordi {
            right: 20%;
            top: 27%;

            .ordinateur_header {
                width: 430px;
                height: 200px;

                .tache {
                    width: 350px;
                    height: 350px;
                }
                .ordi {
                    width: 280px;
                    height: 280px;
                    top: -10px;
                }
            }
        }
        .titre_header{
            h1{
                font-size: 40px;
                line-height: 50px;
                margin-left: 50px;
            }
            p{
                margin-top: 20px;
                margin-left: 50px;
            }
        }

        .text_description{
            top: 500px;
        }

        .boutons{
            position: relative;
            top: 560px;
            margin-left: 60px;
        }
    }

    @include responsive(mobile){
        height: 200px;
        border-bottom-left-radius: 40px;

        .icone_header_ordi {
            right: 30%;
            top: 25%;

            .ordinateur_header {
                width: 280px;
                height: 250px;

                .tache {
                    width: 260px;
                    height: 260px;
                }
                .ordi {
                    width: 200px;
                    height: 200px;
                    top: 0px;
                    left: 60px;
                }
            }
        }
        .titre_header{
            h1{
                font-size: 35px;
                line-height: 36px;
                margin-left: 20px;
                top: 50px;
            }
            p{
                font-size: 16px;
                margin-left: 20px;
                top: 70px;
            }
        }

        .text_description{
            font-size: 18px;
            width: 280px;
            margin-left: 20px;
            top: 450px;
        }

        .boutons{
            top: 600px;
            margin-left: 20px;
        }
    }

};